.info-section h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  margin: 10px 0;
}

.content-section h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  margin: 10px 0;
}