.info-section h3::after {
  content: "";
  display: block;
  width: 100%; /* changed from 60px to 100% */
  height: 2px;
  background: #000;
  margin-top: 10px;
}

.content-section h3::after {
  content: "";
  display: block;
  width: 100%; /* changed from 50px to 100% */
  height: 2px;
  background: #f00;
  margin-top: 10px;
}